@{
    
Layout = "~/Shared/layouts/_BlogLayout.cshtml";
Page.Title = "WebSite Search";

var db = Database.Open("BunksWebsite");

var searchWords = Request["searchTerm"].Split(' ');

IEnumerable<dynamic> result = Enumerable.Empty<string>();

var sqlSelect = "SELECT PostID, Title, Author, DatePosted FROM Post WHERE " +
                "Title LIKE @0 OR Content LIKE @0 OR Author LIKE @0 ";




foreach(var word in searchWords)
{
    result = result.Concat(db.Query(sqlSelect, "%" + word + "%").ToList());
}



    
}


<h1 class="win-type-header">Search Results</h1>
<p class="win-type-body">@result.Count() Article  found matching: <em>@Request["searchTerm"]</em></p>

 @foreach (var item in result)
 {


     	<div class="eventListLayoutTopHeaderTemplateRoot"  >
    <div class="event">
        <div   class="event-Date"  >
          
           
        </div>
        <div class="event-Detail">
            <h4 class="win-type-subtitle" > <a style="color: #000;" href="/ArticleDetails/@item.PostID">@item.Title</a></h4>
            <h6 class="win-type-body" style="color: #808080;" >
           Published by @item.Author on @item.DatePosted
            
            
            </h6>
            <br/>    <br/>
       
            
        </div>
    </div>
</div>

 }








