


<h1 class="win-type-body" style="color: #dd353b"  ><br/></h1>
      <h1 class="win-type-subtitle"   >
          <a style="color: #dd353b" href="@Href("~/bunks/Admin/")">Site Administration</a>
      </h1>
  <hr/>
<ul>
   
 <li><a href="@Href("~/bunks/Admin/Classes/")">Classes</a></li>     
 <li>  
     <a class="win-type-body" href="@Href("~/bunks/Admin/Students/")">Students </a> 
     <div class="nav-commands">
            <a href="@Href("~/bunks/Admin/DaysAbsent/")"><button style="background: white; color: #808080;" class="win-button">Days Absent</button></a>
               <a href="@Href("~/bunks/Admin/PaceResults/")">
                   <div data-win-control="WinJS.UI.SplitViewCommand" data-win-options="{ label: 'Pace Results', icon: 'home'}"></div>
                   </a>
          <a href="@Href("~/bunks/Admin/ExtraCurricula/")">
                <div data-win-control="WinJS.UI.SplitViewCommand" data-win-options="{ label: 'Extra Curriculum', icon: 'favorite'}"></div>
                   </a>

              <a href="@Href("~/bunks/Admin/GeneralComments/")">
                <div data-win-control="WinJS.UI.SplitViewCommand" data-win-options="{ label: 'General Comments', icon: 'settings'}"></div>
                  </a>
      

            </div>     
     
 </li> 
     
 <li><a href="@Href("~/bunks/Admin/Pupils/")">Pupils(Kinder)</a>
 
      <div class="nav-commands">
               <a href="@Href("~/bunks/Admin/kindergartenSubjects/")">
                   <div data-win-control="WinJS.UI.SplitViewCommand" data-win-options="{ label: 'Kindergarten Subjects', icon: 'home'}"></div>
                   </a>
          <a href="@Href("~/bunks/Admin/KinderExtraCurricula/")">
                <div data-win-control="WinJS.UI.SplitViewCommand" data-win-options="{ label: 'Extra Curriculum', icon: 'favorite'}"></div>
                   </a>

              <a href="@Href("~/bunks/Admin/KinderGeneralComments/")">
                <div data-win-control="WinJS.UI.SplitViewCommand" data-win-options="{ label: 'General Comments', icon: 'settings'}"></div>
                  </a>
            </div>   
 
 </li>    
     
 <li><a href="@Href("~/bunks/Admin/Users/")">Admin Users</a></li> 
    
</ul>




