@{          
            
             if (!WebSecurity.IsAuthenticated)     
                {        
                    string currentUrl = Request.Url.ToString();         
                    Response.Redirect("~/Account/Login?sender=" + currentUrl);     
                } 
            
            
            Layout = "~/Shared/Layouts/_Layout.cshtml"; 
                     
            var studentID = !UrlData[0].IsEmpty() ? UrlData[0] : "0"; 

           
              var paceResultID = !UrlData[0].IsEmpty() ? UrlData[0] : "0";           
            var db = Database.Open("BunksAndBiddlesSchool");        
            var sqlSelect = "SELECT * FROM Students WHERE studentID = @0"; 
             
          
             var sqlSelectPaces = "SELECT * FROM Paces;";
             var sqlSelectTeacher = "SELECT teacherName FROM Teachers " ;
              
             
             var sqlSelectSubjects = "SELECT * FROM Subjects;";
              var sqlSelectExtraCurricular = "SELECT * FROM ExtraCurricular;";
             

                 var student = db.QuerySingle(sqlSelect, studentID);  

           
       
                
       

         
             

          
          
                
            } 
   <script type="text/javascript" src="../js/dbUpdate.js">
    
        </script>

@if (student == null)
 {     
    <p>
        Unable to fetch Student details.         
        Try browsing one of the Learning Centers listed to the left.   

			
	
			
	         
				
				
				
				
		
   
    </p> 

         } else {
    Page.Title = student.otherNames;
    <text>
  

     <div class="headerColumn" id="headerSectionInput">

    <p class="win-type-title" style="color:#ef4135;"><b>@student.firstName @student.otherNames</b>
    <br> @student.admissionNo</p>
   <div class="content">
			<section id="progress"></section>	
				<h2 class="win-type-subheader">Fill Progress Report</h2>
				<div class="grid">
					
					<figure class="effect-goliath">
						<img src="../img/23.jpg" alt="img24"/>
						<figcaption>
							<h2 class="win-type-title"><span></span></h2>
							<p>Click the button </p>
							  <button id="add-mark" style="width:300px; height:50px;  background:#3a3a3c; color: white; font-size:large;"class="win-button" >
                      Fill Academic Report 
                    </button>
                              Academic
                            
						</figcaption>			
					</figure>
                    <figure class="effect-goliath">
						<img src="../img/24.png" alt="img23"/>
						<figcaption>
							<h2 class="win-type-title"> <span></span></h2>
							<p>Click the button </p>
						 <button id="add-Report" style="width:300px; height:50px; float:left; background:#3a3a3c; color: white; font-size:large;"class="win-button" >
                    Fill Extracurriculum Report
                    </button>
                              ExtraCurricular
						</figcaption>			
					</figure>
                     
                    <a href="~/Marks"> <div style="width:300px; height:50px; float:left; background:#3a3a3c; color: white; font-size:large;" data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Mark List', icon: 'list' }"></div></a>
                    <figure class="effect-goliath">
						<img src="../img/25.jpg" alt="img24"/>
						<figcaption>
							<h2 class="win-type-title"><span></span></h2>
							<p>Click the button </p>
							  
                              Computer
						</figcaption>			
					</figure>
				</div>
			
			</div>
     <br/> <br/>
   
         
                   
       


         	
       </div>
   <button id="extraCurricularTab" style="width:300px; height:50px; float:right; background:#3a3a3c; color: white; font-size:large;"class="win-button" >
                       Extra-Curriculum Activities &#xE1F7;
                    </button>
    <div id="headerSectionOutput">
        <div id="headerSectionOutput1">
            <h1 class="win-type-header">Academics</h1>
           
                <div id="dialogAcademicForm"  class="details">
                    <h1 class="win-type-subheader" style="color: #ab0217" > &#xE109; &#xE8F1; </h1>

                            <form id="add-marks-form" action="@Href("~/Methods/AddMarks")" method="post">
                                <div class="headerColumn">
                                   
                                   
                                <fieldset>
                                    <p class="win-type-title" style="color: #808080; padding: 0em 0.5em;">Subject &amp; Pace</p>
                                    <div class="detailColumn">


                                        <select id="paceNo" name="paceNo" class="win-dropdown" style="font-size:x-large; margin: 1em; ">
                                              <option value="">Pace Number</option>
                                @{ 
                                   foreach (var paceID in db.Query(sqlSelectPaces)){
                                       if(paceID.paceId == Request["paceNo"].AsInt()){
                                             <option style="font-size:x-large">@paceID.paceNo</option>
                                        } else {
                                             <option style="font-size:x-large">@paceID.paceNo</option>
                                        }

                                   }
  
                                            }

                                              

                                            
                                        </select>

                                        <select id="teacherName" name="teacherName" class="win-dropdown" style="font-size:x-large; margin: 1em; ">
                                              <option value="">Supervisor</option>
                                         @{ 
                                   foreach (var teacherID in db.Query( sqlSelectTeacher)){
                                     
                                             <option  style="font-size:x-large">@teacherID.teacherName</option>
                                        

                                   }
  
                                            }
                                        
                                        
                                        </select>

                                        <select id="subjectName" name="subjectName" class="win-dropdown" style="font-size:x-large">
                                             <option value="">Subject</option>
                                            @foreach (var subjectID in db.Query(sqlSelectSubjects))
                                            {

                                                <option style="font-size:x-large">@subjectID.subjectName</option>

                                            }
                                        </select>
                                   
                                       <ul class="input-list style-1 clearfix">
                                        <li>
                                        <input class="focus" type="text" size="13"  id="admissionNo" name="admissionNo" value="@student.admissionNo " />  
                          
                                         </li>
                                       </ul>
                                     
                                        
                                   
                                    </div>
                                  
                                     <p class="win-type-title" style="color: #808080; padding: 0em 0.5em;">Record Mark</p>
                                        <div class="detailColumn">
                                            <ul class="input-list style-1 clearfix">
                                            <li>
                                            <input  style="border: none; opacity: 0; background: black ;" type="text" size="2" id="studentID" name="studentID" value="@studentID" class="focus" />
          </li>
          <li>
           
                <input class="une" type="text" size="3"  id="supervisorID" name="supervisorID" value="@WebSecurity.GetUserId(WebSecurity.CurrentUserName)" class="focus" /> 
          </li>
          
         <li>
                           <input type="number" class="focus" placeholder="Insert The Mark" value="" id="score" name="score" />
                           </li>



                         
        </ul>
                                              <textarea  id="paceComment" placeholder="Insert a comment" style="width: 100%; height: 150px; color:#000;" name="paceComment" class="win-textarea" placeholder="Comment on student/Pace progress as per the subject"  >
                                            
                                            </textarea>

                                     
                             </div>
                          
                      
                                </fieldset>       
                           

                                           
                           </div>  
                                             
                                  
                                       </form>         

                                         
                                              

                                             
                                                
                                                

                                          
				
                                          
                                           
                                        </div>



</div>


                                    
                                  
                                   
                                    
                        
                                    
                                








                          
                         
                           
                        
                  
              

            </div>
               <div id="dialogExtraCurricularReportForm" class="details">
                    <h1 class="win-type-subheader" style="color: #ab0217" > &#xE109; &#xE8F1; </h1>

              <form id="add-extraCurricularReport-form" action="@Href("~/Methods/AddExtraCurricularReport")"  method="post">

                                    <div class="headerColumn">


                                        <fieldset>
                                            <legend class="win-type-title" style="color: #808080; padding: 0em 0.5em;">Select Activity</legend>
                                            <div class="detailColumn">
                                                <select id="extraCurricularTitle" name="extraCurricularTitle" class="win-dropdown" style="font-size:x-large; margin: 1em; ">
                                              <option value="">--Extra Curriculum Activity --</option>
                                @{ 
                                   foreach (var extraCurricularID in db.Query(sqlSelectExtraCurricular)){
                                    
                                             <option style="font-size:x-large">@extraCurricularID.extraCurricularTitle</option>
                                       
                                            
                                        }

                                   }
  
                                            }

                                              
                                            
                                        </select>


                                                
                                        <select id="teacherNameReport" name="teacherNameReport" class="win-dropdown" style="font-size:x-large; margin: 1em; ">
                                              <option value="">-- Select Name --</option>
                                         @{ 
                                   foreach (var teacherID in db.Query( sqlSelectTeacher)){
                                     
                                             <option  style="font-size:x-large">@teacherID.teacherName</option>
                                        

                                   }
  
                                            }
                                        
                                        
                                        </select>


                                             

                                              





                                            </div>

                                             <legend class="win-type-title" style="color: #808080; padding: 0em 0.5em;">Insert Comment</legend>
                                            <div class="detailColumn">
                                               
                                                       
                            <input id="studentIDReport" name="studentIDReport" value="@studentID" />
                      
                                       
                                             




   
                                             
                                            <input id="admissionNoReport" name="admissionNoReport" value="@student.admissionNo " />  
                                             
                                  
                                             

                                    <input id="supervisorIDReport" name="supervisorIDReport" value="@WebSecurity.GetUserId(WebSecurity.CurrentUserName)" />   


                                                
                                              
					<textarea id="comment" name="comment" class="win-textarea"  ></textarea>
				
			


                                  


                                                
                                            </div>



                                        </fieldset>

                                   


                                       
                                    </div>
                                </form>
  </div>
           	
			
            <div class="headerColumn" id="headerSectionOutput2">
                <h1 class="win-type-header">Extra-Curricular Activities</h1>
              
                    <div class="details">
                        <h1 class="win-type-subheader" style="color: #ab0217" id="artTab"> &#xE109; &#xE2B1; &#xE90B; &#xEA8D;</h1>
                        <p class="win-type-body" style="color: #808080; padding: 0em 0.5em;">Record report on activities</p>
                        <div id="artTabOutput">
                            <div id="artTabOutput1">


                            </div>
                            <div id="artTabOutput2">
                                 <div class="details">
                            




     </div>
                            </div>
                        </div>
                    </div>
                    <div class="details">
                        <h1 class="win-type-subheader" style="color: #ab0217" id="computerTab"> &#xE109; &#xE977;</h1>
                        <p class="win-type-body" style="color: #808080; padding: 0em 0.5em;">Computer Comments and More</p>
                        <div id="computerTabOutput">
                            <div id="computerTabOutput1">



                            </div>
                            <div id="computerTabOutput2">
                                <p class="win-type-header">To be continued</p>

                            </div>
                        </div>
                    </div>
               
                
            </div>





       

          


	<script type="text/javascript" src="./js/modernizr.custom.39460.js"></script> 
<script type="text/javascript" src="../js/StudentDetails.js"></script>
</text>




}