

@{
    var  username = "Visitor";
    
}

<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Bunks &amp; Biddles Schools</title>
		<meta name="description" content="Bunks and Biddles Schools" />
		<meta name="keywords" content="horizontal menu, microsoft menu, drop-down menu, mega menu, javascript, jquery, simple menu" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
	
		<script src="../js/modernizr.custom.js"></script>
         <link href="../WinJS/css/ui-light.css" rel="stylesheet" />
      
       <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        	<link rel="stylesheet" type="text/css" href="../css/default.css" />
        <link rel="stylesheet" type="text/css" href="../css/normalize.css" />

        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/custom.css" />

        <script type="text/javascript" src="js/modernizr.custom.79639.js"></script>

        	<noscript>
			<link rel="stylesheet" type="text/css" href="css/styleNoJS.css" />
		</noscript>
     
		<link rel="stylesheet" type="text/css" href="../css/component.css" />
        <link rel="stylesheet" type="text/css" href="../css/bunkscss.css" />
       
        <script src="@Href("/WinJS/js/base.js")" type="text/javascript"></script>
        <script src="@Href("/WinJS/js/ui.js")" type="text/javascript"></script>
         <script  src="@Href("/js/default.js")" type="text/javascript"></script>
         <script  src="@Href("/js/Animate.js")" type="text/javascript"></script>
    
         @RenderSection("head", required: false)
	</head>
	<body id="page" >


		<div class="container demo-2">
               <div class="column">
              
  


               </div>  
                     <div class="column">
                           
                                      <div class="detailColumn">
                                    <div id="sb-search" class="sb-search">

                                         
						<form>
							<input class="sb-search-input" placeholder="Search" type="text" value="" name="search" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<h1 class="sb-icon-search" > <span class="win-type-title">  &#xE11A; </span> </h1>
						</form>
                                           
 

                                     
					</div>
                                          </div>
                         <div class="detailColumn"> 
                     
                                <div class="icon-bar">
                    <a class="active" href="#"><img src="~/img/SocialMedia/Twitter-30.png" alt="Twitter"></a> 
  <a href="#"><img src="~/img/SocialMedia/Facebook-30.png" alt="facebook"></a> 

  <a href="#"><img src="~/img/SocialMedia/LinkedIn-30.png" alt="LinkedIn"></a>
  <a href="#"><img src="~/img/SocialMedia/Google Plus-30.png" alt="GooglePlus"></a> </div>

                             
                                         
            
                          
                           
                     
                     
                     </div>
                     
                             
                                    </div>
			<div class="main" >

                       <header class="codrops-header">

                      <a href="@Href("~/")">
                    <img style="margin: 0.2em;" height="150px" src="../Images/BunksAndBiddlesLogo.png" alt="bunkslogo">
                       </a>  

               
                </header>  
                 	 <nav id="cbp-hrmenu" class="cbp-hrmenu" style="position: relative; z-index: 3000">
                      



                 	<ul >
                        
						<li>
							<a class="win-type-body" href="#">About</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner"> 
                              
									<div class="column">
                                        
                                       
                                         <div>
                                             <h1 class="win-type-title"></h1>
										<ul>
											<li><a href="~/About/Welcome.cshtml" class="win-type-body">Welcome</a></li>
                                            <li><a href="~/About/HeadOfSchoolWelcome">Head of school Welcome</a></li>
                                            <li><a href="~/About/BoardOfTrustees">Board of Trustess</a></li>
                                            <li><a href="~/About/BunksFacts">Bunks Facts</a></li>
                                            <li><a href="~/About/MeetOurFaculty">Meet our Faculty</a></li>
                                            <li><a href="~/About/Blog">Blog</a></li>
                                            <li><a href="~/About/Employment">Employment</a></li>
                                            
                                            <li><a href="~/About/Contacts">Contacts &amp; Directions</a></li>
										</ul></div>
                                    
                                    </div>
                                       <div class="column">
                                           <h4 >About </h4>
                                           <p class="win-type-title " style="font-size: small; color: white;">
                                             When you think about your child, what do you want for him or her? If you’re like most parents, 
                                               you want your child to be taught of the Lord and great 
                                               will be his/her peace, pursuing righteousness, and full 
                                               of joy, safe, well-rounded, curious and excited to learn, 
                                               and prepared for their God given destiny. Just as Billy Graham stated, 
                                               “Be anchored to the Rock and geared to the times”
                                           </p></div>
                                   
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li>
						<li>
							<a href="#" class="win-type-body">Admission</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner">
								<div class="column">
                                        
                                       
                                         <div>
                                             <h1 class="win-type-title"></h1>
										<ul>
											<li><a href="~/Admission/Welcome.cshtml" class="win-type-body">Welcome</a></li>
											
                                            <li><a href="~/Admission/Visit">Inquire</a></li>
                                            <li><a href="~/Admission/Inquire">Visit</a></li>
                                            <li><a href="~/Admission/Apply">Apply</a></li>
                                            <li><a href="~/Admission/Tution">Tution</a></li>
                                           
										</ul></div>
                                    
                                    </div>
                                       <div class="column">
                                           <h4 >Admission </h4>
                                           <p class="win-type-title " style="font-size: small; color: white;">
                                             When you think about your child, what do you want for him or her? If you’re like most parents, you want your child to be taught of the Lord and great will be his/her peace, pursuing righteousness, and full of joy, safe, well-rounded, curious and excited to learn, and prepared for their God given destiny.
  
                                                
                                           
                                           
                                           </p></div>


								
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li>
						<li>
							<a href="#" class="win-type-body">Academics</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner"> 
								<div class="column">
                                        
                                       
                                         <div>
                                             <h1 class="win-type-title"></h1>
										<ul>
											<li><a href="~/About/Welcome.cshtml" class="win-type-body">Welcome</a></li>
                                             <li><a href="~/About/HeadOfSchoolWelcome">Day Care | Twiga crèche | </a></li>
                                            <li><a href="~/About/HeadOfSchoolWelcome">Pre School | Twiga crèche</a></li>
                                            <li><a href="~/About/BoardOfTrustees">Pre School | Chui – 2-3 years</a></li>
                                            <li><a href="~/About/BunksFacts">Bunks Facts</a></li>
                                            <li><a href="~/About/MeetOurFaculty">Meet our Faculty</a></li>
                                            <li><a href="~/About/Blog">Blog</a></li>
                                            <li><a href="~/About/Employment">Employment</a></li>
                                            
                                            <li><a href="~/About/Contacts">Contacts &amp; Directions</a></li>
										</ul></div>
                                    
                                    </div>
                                       <div class="column">
                                           <h4 >About </h4>
                                           <p class="win-type-title " style="font-size: small; color: white;">
                                             When you think about your child, what do you want for him or her? If you’re like most parents, 
                                               you want your child to be taught of the Lord and great 
                                               will be his/her peace, pursuing righteousness, and full 
                                               of joy, safe, well-rounded, curious and excited to learn, 
                                               and prepared for their God given destiny. Just as Billy Graham stated, 
                                               “Be anchored to the Rock and geared to the times”
                                           </p></div>
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li>
						<li>
							<a href="#" class="win-type-body">Clubs</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner"> 
									<div>
										<h4>Clubs</h4>
										<ul>
											<li><a href="#">Computer</a></li>
											<li><a href="#">Science</a></li>
											<li><a href="#">Lamda</a></li>
											<li><a href="#">Music</a></li>
											<li><a href="#">Swimming</a></li>
											<li><a href="#">Scating</a></li>
                                            <li><a href="#">Horse Riding</a></lia>
										</ul>
										<h4>Utilities</h4>
										<ul>
											<li><a href="#">Gadget Finder</a></li>
											<li><a href="#">Green Tree Express</a></li>
										</ul>
									</div>
									<div>
										<h4>Entertainment</h4>
										<ul>
											<li><a href="#">Gadget Finder</a></li>
											<li><a href="#">Green Tree Express</a></li>
											<li><a href="#">Green Tree Pro</a></li>
											<li><a href="#">Holy Cannoli</a></li>
											<li><a href="#">Wobbler 3.0</a></li>
											<li><a href="#">Coolkid</a></li>
										</ul>
									</div>
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li>
						<li>
							<a href="#" class="win-type-body">Arts</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner"> 
									<div>
										<h4>Email</h4>
										<ul>
											<li><a href="#">Green Tree Pro</a></li>
											<li><a href="#">Wobbler 3.0</a></li>
											<li><a href="#">Coolkid</a></li>
										</ul>
										<h4>Phone</h4>
										<ul>
											<li><a href="#">Learn Thai</a></li>
											<li><a href="#">Math Genius</a></li>
											<li><a href="#">Chemokid</a></li>
										</ul>
									</div>
									<div>
										<h4>More</h4>
										<ul>
											<li><a href="#">Success 1.0</a></li>
											<li><a href="#">Moneymaker</a></li>
										</ul>
									</div>
								
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li>
                        <li>
							<a href="#" class="win-type-body">Community</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner"> 
									<div>
										<h4>More</h4>
										<ul>
											<li><a href="#">Green Tree Pro</a></li>
											
										</ul>
										<h4>More</h4>
										<ul>
											<li><a href="#">Learn Thai</a></li>
										
										</ul>
									</div>
									<div>
										<h4>More</h4>
										<ul>
											<li><a href="#">Success 1.0</a></li>
											<li><a href="#">Moneymaker</a></li>
										</ul>
									</div>
								
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li>
                        <li>
							<a href="#" class="win-type-body">Giving</a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner"> 
									<div>
										<h4>More</h4>
										<ul>
											<li><a href="#">Green Tree Pro</a></li>
											
										</ul>
										<h4>More</h4>
										<ul>
											<li><a href="#">Learn Thai</a></li>
										
										</ul>
									</div>
									<div>
										<h4>More</h4>
										<ul>
											<li><a href="#">Success 1.0</a></li>
											<li><a href="#">Moneymaker</a></li>
										</ul>
									</div>
								
								</div><!-- /cbp-hrsub-inner -->
							</div><!-- /cbp-hrsub -->
						</li>

                         <li></li>
					</ul>

                   
                          

				</nav>
             
                

                  </div>

            
                 @RenderBody() 

<div data-win-control="WinJS.UI.HtmlControl" data-win-options="{uri: 'Shared/partials/register.cshtml'}">
              </div>
<div data-win-control="WinJS.UI.HtmlControl"      
                data-win-options="{uri: 'Shared/partials/signUp.cshtml'}">
              </div>

            	<div class="row">
                    
					<div class="box box--centered">
                        
				
    <header class="codrops-header">

                  

       
         <p class="win-type-subtitle" > P.O. Box 15343-00509 </p>
        <p class="win-type-subtitle">Nairobi, Kenya
</p>
        <p class="win-type-subtitle">Phone: +254 722 344 127</p>

        	<aside class="cl-effect-17 color-1" >
					

                    <a href="~/About/Welcome.cshtml" data-hover="Contact Us">Contact Us</a>
                    <a href="~/About/HeadOfSchoolWelcome" data-hover="Directions">Directions</a>
                  
				</aside>
                    
                </header>  


					</div>
					<div class="box">
					

					</div>
				</div>



			</div>


    

      

      
      
          
         

     
		
		<script src="../js/jquery-2.1.4.min.js"></script>
       
        <script src="https://goo.gl/RT0j4e"></script>
		<script src="../js/cbpHorizontalMenu.js"></script>
		<script>
			$(function() {
				cbpHorizontalMenu.init();
			});
		</script>

        <script src="js/jquery.cbpNTAccordion.min.js"></script>
		<script>
			$( function() {
				/*
				- how to call the plugin:
				$( selector ).cbpNTAccordion( [options] );
				- destroy:
				$( selector ).cbpNTAccordion( 'destroy' );
				*/

				$( '#cbp-ntaccordion' ).cbpNTAccordion();

			} );
		</script>

     

        	<script src="../js/classie.js"></script>
		<script src="../js/uisearch.js"></script>
		<script>
			new UISearch( document.getElementById( 'sb-search' ) );
		</script>

    


       

     

	</body>
</html>
