<html lang="en">
    <head>
        <meta charset="utf-8" />
       	<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>Bunks &amp; Biddles - @Page.Title</title>
         
         
        
         <link href="/WinJS/css/ui-light.css" rel="stylesheet" />
       

        <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
         <link rel="stylesheet" type="text/css" href="/css/component.css" />


        <script src="../Scripts/modernizr-2.6.2.js"></script>
     
		
        <style>
.column {
	float: left;
	width: 50%;
	padding: 0 2em;
	min-height: 30px;
	position: relative;
}

.column:nth-child(2) {
  box-shadow: -1px 0  0 rgba(255,255,255,0.6);  
	
}

.column p {
	font-weight: 300;
	font-size: 1.6em;
	padding: 0;
	margin: 0;
	text-align: left;
	line-height: 1.5;
}

.column a {

}

.column a:hover {
	
}
</style>
        		

        @RenderSection("head", required: false)
    </head>
    <body >

         <div id="app" >
        <div class="splitView" data-win-control="WinJS.UI.SplitView" >
        <!-- Pane area -->
        <div>
          <div class="header" >
                <button
                    class="win-splitviewpanetoggle"
                    data-win-control="WinJS.UI.SplitViewPaneToggle"
                    data-win-options="{ splitView: select('.splitView') }"></button>
            </div>
           
           @RenderPage("~/Shared/Partials/_HomeLinks.cshtml") 
        </div>


         <div class="contenttext" >

   <div class="container" >  
         
      
       
       <div class="content">
				<div class="mockup-browser">
                    <header class="mockup-header mockup-section--dark paint-area">
						 <div class="column"> 
           
           <a  id="ourLogo" href="@Href("~/")">
                    <img style="margin: 0.2em;" height="150px" src="../Images/BunksAndBiddlesLogo.png" alt="bunkslogo">
                       </a></div>
       
       
       <div class="column">  <div id="sb-search" class="sb-search">
	<form action="/SearchBlog.cshtml" method="post">
							<input class="sb-search-input" placeholder="Search" type="text" value="" name="searchTerm" id="search">
							<input class="sb-search-submit" type="submit" value="">
							<h1 class="sb-icon-search" > <span id="searchBlog"  class="win-type-title">  &#xE11A; </span> </h1>
						</form>
</div></div>
</header>

                  

              
				    @RenderBody()  

       
        </div><!-- /mockup-browser -->
			</div>





               </div> 


            
          

            </div>
          
                
        </div> 

    
   
                                
            </div>
                        
            
       
			
			
			
			
    <script src="../js/classie.js"></script>
		<script src="../js/uisearch.js"></script>
		<script>
			new UISearch( document.getElementById( 'sb-search' ) );
		</script>

     <script src="@Href("/WinJS/js/base.js")" type="text/javascript"></script>
        <script src="@Href("/WinJS/js/ui.js")" type="text/javascript"></script>
         <script  src="@Href("/js/default.js")" type="text/javascript"></script>
    </body>
</html>