@{          
    
    Layout = "~/bunks/Shared/Layouts/_Layout.cshtml";     
    Page.Title = "Login";          
    
    var email = "";     
    var password = "";         
    if(IsPost)     
    {         
        email = Request["email"];         
        password = Request["password"];         
        var rememberMe = Request["rememberMe"].AsBool();  
                        
        // Validation         
        if (email.IsEmpty()) 
        {            
             ModelState.AddError("email", "Username cannot be blank.");         
         }                  
        if (password.IsEmpty()) 
        {             
            ModelState.AddError("password", "Password cannot be blank.");         
        }                  
        
        // Attempt login         
        if(ModelState.IsValid)         
        {             
            if(WebSecurity.Login(email, password, rememberMe))             
            {                 
                if (Request.QueryString["sender"] != null)                 
                {                     
                    Response.Redirect(Request.QueryString["sender"]);                    
                 } 
                  else                 
                  {                     
                      Response.Redirect("~/bunks/Default.cshtml");                 
                      }             
                      }             
                      else             
                      {                 
                          ModelState.AddFormError("Unable to log in.");             
                       }         
                  }     
         } 
 } 


@Html.ValidationSummary(true) 


<div class="headerColumn "></div>
<form action="Login?@Request.QueryString" method="post" >
         

    <div class="column">
       
   <h1 class="win-type-header">Please Sign in. </h1>
         
        <h1 class="win-type-body" style="color: #4491c7;">Accelerated Christian Education 
            Students
        </h1>
      @*
        <h1 class="win-type-title">Countdown To Deadline</h1>
<div id="clockdiv">
  <div>
    <span class="days"></span>
    <div class="smalltext win-type-body">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext win-type-body">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext win-type-body">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext win-type-body">Seconds</div>
  </div>
</div>*@
        </div>  
    	
    <div class="column">
	 
        <div class="headerColumn"> 		 
      
 @Html.Label("Email", email, new { @class="win-type-body" })<br />
@Html.TextBox("email", email, new { @class="win-textbox", @style="width:75%;" } )
@Html.ValidationMessage("email") 


 @Html.Label("Password", password, new { @class="win-type-body" })<br />
@Html.Password("password", password, new { @class="win-textbox", @style="width:75%;" } )
@Html.ValidationMessage("password") 

				        <br/>

			
				    <p>         
     <input type="checkbox" class="win-checkbox" value="true" name="rememberMe"></input>       
       @Html.Label("Remember me on this computer?", "rememberMe")     
    </p> 
        <input type="submit" value="Login" style=" margin-bottom: 10px;  background:#3a3a3c; color: white; font-size:large;"class="win-button" />
   
			</div>

         <div class="headerColumn"> 		
        
               <h2 class="win-type-body " style="color: #808080;">Register? Kindly contact the Site Administrator
        </h2>
         </div>
     </div>

    
</form>

