@{
    Layout = "~/bunks/Shared/Layouts/_LayoutKinder.cshtml";
    Page.Title = "Register";


    var email = "";
    var password1 = "";
    var password2 = "";

    if(IsPost)
    {
        WebSecurity.Logout();

   
        email = Request["email"];
        password1 = Request["password1"];
        password2 = Request["password2"];

        // validation
            if (email.IsEmpty()){
                ModelState.AddError("email", "Email Address is required.");
            }

            if (!MyValidation.IsValidEmail(email))         
           {             
                ModelState.AddError("email", "Invalid Email Address. Contact the Administrator");         
            } 

        


             if (password1.IsEmpty()) 
             {             
                 ModelState.AddError("password1", "Password is required.");         
             }  

             if(WebSecurity.UserExists(email))         
             {             
                 ModelState.AddError("email", "An account with this name already exists.");         
              } 
               
              if(password1 != password2)         
              {             
                  ModelState.AddError("password1", "The passwords do not match.");         
              }

              // Create Account
              if(ModelState.IsValid)
              {
                  WebSecurity.CreateUserAndAccount(email, password1, null, false);
                  WebSecurity.Login(email, password1);
                  if (Request.QueryString["sender"] != null )
                  {
                      // Return supervisor to the URL sent in the "sender" key of the QueryString
                      Response.Redirect(Request.QueryString["sender"]);
                  }
                  else
                  {
                      // Return the supervisor to the home page
                      Response.Redirect("~/bunks/Default");
                  }
              }
 
        
    }
}

<h1 class="win-type-subheader">Register </h1> 
<form action="Register?@Request.QueryString" method="post" >

    	
    <section class="content bgcolor-4">
				<h2 class="win-type-title">New Account</h2>
     
				@Html.ValidationMessage("password1")
        @Html.ValidationMessage("password2")

			</section>

       <div class="column">
	 
        <div class="headerColumn"> 		 
      
   @Html.Label("Email Address", email, new { @class="win-type-body" })<br />
@Html.TextBox("email", email, new { @class="win-textbox", @style="width:75%;" } )
             @Html.ValidationMessage("email") 



 @Html.Label("Password", "password1", new { @class="win-type-body" })<br />
@Html.Password("password1", password1, new { @class="win-textbox", @style="width:75%;" } )

        <br />
         @Html.Label("Confirm Password", "password2", new { @class="win-type-body" })<br />
@Html.Password("Confirm Password", password2, new { @class="win-textbox", @style="width:75%;" } )

        <input type="submit" value="Login" style=" margin-bottom: 10px;  background:#3a3a3c; color: white; font-size:large;"class="win-button" />
   
			</div>

         <div class="headerColumn"> 		
        
              
         </div>
     </div>

   
</form>