



@{
   Layout = "~/Shared/layouts/_InquireLayout.cshtml";
   
   

    var db = Database.Open("BunksWebsite");
    var classes = db.Query("SELECT ClassID, OfficialClassName + ' ' + BunksClassName AS ClassName FROM Classes");
   
    var schools = db.Query("SELECT SchoolID, SchoolName FROM Schools ");

    var genders = db.Query("SELECT GenderID, GenderName FROM Gender ");
    var countries = db.Query("SELECT CountryID, CountryName FROM Country ORDER BY CountryName ASC");
}



   



<div class="content">
          <header class="codrops-header">
              <p class="win-type-subheader color-12">Step One</p>
      <h1 class="win-type-header" style="color: #000;">Inquire? <button class="win-button" id="add-book">Add New Inquiry</button> </h1>
               <p></p>
               <p id="paragraphAlert" class="win-type-body color-12"> </p>
<hr/>
  </header>
   
      
     
     
			
         <header class="codrops-header">
              <p class="win-type-subheader color-12">Step Two</p>
      <h1 class="win-type-header" style="color: #000;"> Using your preffered Email <a href="~/Account/Register" style="font-size: large;" class="win-button win-type-header">Register an account </a></h1>
<hr/>
  </header>
    

    <p></p>

     <div id="grid" class="ui-widget">
       
    </div>
    
    <div id="dialog-form" title="Add New Inquiry">
    
          <form id="add-book-form" class="color-13" action="@Href("~/Methods/AddInquiry")">
          <div id="contentGrid">        
               <div id="leftContainer" class="gridLeft">             
                   <h1 class="win-type-subtitle">Child Details</h1>
                   
                   
      <p class="win-type-subtitle">
 
           <input class="win-text" value="First Name" type="text" style="width: 49%;" name="firstName" id="firstName" > 
          <input class="win-text" value="Other Name(s)" type="text" style="width: 49%; margin-right:5px; float: right;" name="secondName" id="secondName">
    
          
    </p>

                     <p class="win-type-subtitle">

     <input class="win-text" value="Date of Birth" type="text" style="width: 49%;" type="text" id="dateOfBirth" name="dateOfBirth" > 
 
          
                
                <select class="win-dropdown" style="width: 49%;" name="genderID" id="genderID">
                    <option value="">Gender</option>
                @{
                    foreach(var gender in genders){
                        if(gender.GenderID == Request["genderID"].AsInt()){
                            <option value="@gender.GenderID" selected="selected">@gender.GenderName</option>
                        } else {
                            <option value="@gender.GenderID">@gender.GenderName</option>
                        }        
                    }
                }
                </select>
        
    
    </p>
                   
                   
                   
                           
         
                    <p class="win-type-subtitle">
    
           <input class="win-text" value="Address" type="text" style="width: 49%;" name="address" id="address" > 
          <input class="win-text" value="City" type="text" style="width: 49%; margin-right:5px; float: right;"  name="city" id="city">
    
         
         
            
    </p>
                    <p class="win-type-body">
                           <select class="win-dropdown" style="width: 49%" name="countryID" id="countryID">
                    <option value="">Country</option>
                @{
                    foreach(var country in countries){
                        if(country.CountryID == Request["countryID"].AsInt()){
                            <option value="@country.CountryID" selected="selected">@country.CountryName</option>
                        } else {
                            <option value="@country.CountryID">@country.CountryName</option>
                        }        
                    }
                }
                </select>
                    </p>

             

            
            

           

          
               </div> 
 
        <div id="topRightContainer" class="gridRight">             
            <h1 class="win-type-subtitle">Guardian Details</h1>     
            
            
              <p class="win-type-subtitle">
 
           <input class="win-text" value="Person Inquiring Name" type="text" style="width: 49%;" name="personInquiring" id="personInquiring" > 
        
          <input class="win-text" value="Relationship to Student" type="text" style="width: 49%; margin-right:5px; float: right;" name="relationship" id="relationship">   
    </p>   

            <p class="win-type-subtitle">
               
                <input value="Preffered Email" style="width: 98%;" class="win-text" type="text" name="email" id="email" size="50" />
            </p>
            

                  <p class="win-type-subtitle">
 
           <input class="win-text" value="First Parent Name" type="text" style="width: 49%;" name="firstParentName" id="firstParentName" >
           <input class="win-text" value="Second Parent Name" type="text" style="width: 49%;" name="secondParentName" id="secondParentName" > 
         
    </p> 
               <p class="win-type-subtitle">
 
           
          <input class="win-text" value="Second Parent Email" type="text" style="width: 49%; margin-right:5px; float: right;" name="secondParentEmail" id="secondParentEmail"> 
           <input class="win-text" value="First Parent Email" type="text" style="width: 49%; " name="firstParentEmail" id="firstParentEmail">     
    </p> 

                  <p class="win-type-subtitle">
 
           <input class="win-text" value="First Parent Tel" type="text" style="width: 49%;" name="firstParentTel" id="firstParentTel" > 
          <input class="win-text" value="Second Parent Tel" type="text" style="width: 49%; margin-right:5px; float: right;" name="secondParentTel" id="secondParentTel">   
    </p> 


             </div> 
 
        <div id="bottomRightContainer" class="gridRight">  
            
            
                       <h1 class="win-type-subtitle">     @Html.Label("School Selected", "School Selected") </h1>   
                    <p class="win-type-body">

         
           

                               <select class="win-dropdown" style="width: 49%" name="schoolID" id="schoolID">
                    <option value="">-- Select School --</option>
                @{
                    foreach(var school in schools){
                        if(school.SchoolID == Request["schoolID"].AsInt()){
                            <option value="@school.SchoolID" selected="selected">@school.SchoolName</option>
                        } else {
                            <option value="@school.SchoolID">@school.SchoolName</option>
                        }        
                    }
                }
                </select>

                            <select class="win-dropdown" style="width: 49%" name="classID" id="classID">
                    <option value="">-- Select Class --</option>
                @{
                    // Darasa represents class(if class was used/ conflict/ class is a reserved keyword)
                    foreach(var darasa in classes){
                        if(darasa.ClassID == Request["classID"].AsInt()){
                            <option value="@darasa.ClassID" selected="selected">@darasa.ClassName</option>
                        } else {
                            <option value="@darasa.ClassID">@darasa.ClassName</option>
                        }
                    }
                }
                </select>
          
    </p>      
            
            
             </div>
                   </div>








            
        </form>
    </div>

 

        	  @RenderPage("~/Shared/Partials/_AdmissionLinks.cshtml")
		</div>	

