@{
    


             if (!WebSecurity.IsAuthenticated)     
                {        
                    string currentUrl = Request.Url.ToString();         
                    Response.Redirect("~/Account/Login?sender=" + currentUrl);     
                } 
     Layout = "~/Shared/layouts/_layout.cshtml";
     var db = Database.Open("BunksWebsite");
     var sqlSelectRegFees = "SELECT * FROM RegistrationFees ";
     var sqlSelectInitialTestFees = "SELECT * FROM InitialTestFees";
     var sqlSelectClubFees = "SELECT * FROM ClubFees";
      var sqlSelectFees = "SELECT * FROM ClassGroup";

     var registrationfee = db.Query(sqlSelectRegFees);
     var registrationFeeGrid = new WebGrid(registrationfee,  ajaxUpdateContainerId : "grid");
       var initialTestFee = db.Query(sqlSelectInitialTestFees);
     var initialTestFeeGrid = new WebGrid(initialTestFee,  ajaxUpdateContainerId : "grid");
      var clubFee = db.Query(sqlSelectClubFees);
     var clubFeeGrid = new WebGrid(clubFee,  ajaxUpdateContainerId : "grid");
      var classFee = db.Query(sqlSelectFees);
     var classFeeGrid = new WebGrid(classFee,  ajaxUpdateContainerId : "grid", rowsPerPage: 50);
    
    
}

  <header class="codrops-header">
      <h1 style="text-align: center" class="win-type-header">Our Fee Structure </h1>

  </header>

     <h1 style="text-align: center" class="win-type-header">Registration</h1>
 @registrationFeeGrid.GetHtml( tableStyle: "webgrid", headerStyle:"header", 
                    alternatingRowStyle:"alt", columns: registrationFeeGrid.Columns (registrationFeeGrid.Column("RegistrationItem", canSort: false),
                        
                        registrationFeeGrid.Column("Fee")
                      
   
)
)
<br/><br/>
 <h1 style="text-align: center" class="win-type-header">Diagnostic Test</h1>
 @initialTestFeeGrid.GetHtml( tableStyle: "webgrid", headerStyle:"header", 
                    alternatingRowStyle:"alt", columns: initialTestFeeGrid.Columns (initialTestFeeGrid.Column("InitialTestName", canSort: false),
                       
                        initialTestFeeGrid.Column("Fees")
                      
   
)
)


<br/><br/>
 
 <h1 style="text-align: center" class="win-type-header">Tution</h1>
 @classFeeGrid.GetHtml( tableStyle: "webgrid", headerStyle:"header", 
                    alternatingRowStyle:"alt", columns: classFeeGrid.Columns (classFeeGrid.Column("ClassGroupName", canSort: false),
                      
                        classFeeGrid.Column("AgeGroup"),
                         classFeeGrid.Column("Tuiton"),
                          classFeeGrid.Column("MealFee")
                      
   
)
)


<br/><br/>
 <h1 style="text-align: center" class="win-type-header">Clubs</h1>
 @clubFeeGrid.GetHtml( tableStyle: "webgrid", headerStyle:"header", 
                    alternatingRowStyle:"alt", columns: clubFeeGrid.Columns (clubFeeGrid.Column("ClubName", canSort: false),
                     
                        clubFeeGrid.Column("Fees")
                      
   
)
)
<br/><br/>
<div >@RenderPage("~/Shared/Partials/_AdmissionLinks.cshtml")</div>


    