@{     
       Layout = "~/Shared/Layouts/_AdminLayout.cshtml";     
       Page.Title = "Edit Pace Results";          
       
       // Get categoryId from URL, or set to 0 if not present     
       var extraCurricularReportID = !UrlData[0].IsEmpty() ? UrlData[0] : "0";     
       var extraCurricularTitle = ""; 
       var comment = "";
       var admissionNo = ""; 
       var pupilID = ""; 
       var SupervisorID = "";
       var teacherName = "";
                   
       var db = Database.Open("BunksAndBiddlesSchool");

       if(IsPost)
       {
       extraCurricularTitle = Request["extraCurricularTitle"];
       extraCurricularReportID = Request["extraCurricularReportID"];
       comment = Request["comment"];
       admissionNo = Request["admissionNo"];
       pupilID = Request["pupilID"];
       SupervisorID = Request["SupervisorID"];
        teacherName = Request["teacherName"];


       // Validation
       if (extraCurricularTitle.IsEmpty())
       {
           ModelState.AddError("extraCurricularTitle", "Subject Cannot be blank");
       }
     
       if(comment.IsEmpty())
       {
           ModelState.AddError("comment", "Pace Number cannot be blank");
           
       }
      
       if(admissionNo.IsEmpty())
       {
           ModelState.AddError("admissionNo", "Admission Number cannot be blank");
           
       }

       if(teacherName.IsEmpty())
       {
           ModelState.AddError("teacherName", "Teacher Name cannot be blank");
           
       }

       
   

   
       if(ModelState.IsValid)
       {
           var sqlUpdateResults = "UPDATE KinderExtraCurricularReport SET extraCurricularTitle = @0, comment = @1, admissionNo = @2, SupervisorID = @3, teacherName = @4, pupilID = @5 WHERE extraCurricularReportID = @6";
           db.Execute(sqlUpdateResults, extraCurricularTitle, comment, admissionNo, SupervisorID, teacherName, pupilID,  extraCurricularReportID).ToString();

           Response.Redirect("~/Admin/KinderExtraCurricula");
       }


     }
     else
     {
         var sqlExtraCurricularResults = "SELECT * FROM KinderExtraCurricularReport WHERE extraCurricularReportID = @0 ";
         extraCurricularTitle = db.QuerySingle(sqlExtraCurricularResults, extraCurricularReportID).extraCurricularTitle;
          teacherName = db.QuerySingle(sqlExtraCurricularResults, extraCurricularReportID).teacherName;
          admissionNo = db.QuerySingle(sqlExtraCurricularResults, extraCurricularReportID).admissionNo;
          comment = db.QuerySingle(sqlExtraCurricularResults, extraCurricularReportID).comment;
         
          SupervisorID = db.QuerySingle(sqlExtraCurricularResults, extraCurricularReportID).SupervisorID.ToString();
          pupilID = db.QuerySingle(sqlExtraCurricularResults, extraCurricularReportID).pupilID.ToString();
      
      
          
     }
    
}

<h1 class="win-type-title">Student Details</h1>
<hr/>
<br/>


<form action="" method="post">


<div class="column">
 <p class="win-type-body">
 @Html.Hidden("extraCurricularReportID", extraCurricularReportID)
 @Html.Hidden("SupervisorID", SupervisorID)
 @Html.Hidden("pupilID", pupilID)
 @Html.Label("Activity", extraCurricularTitle)<br />

       @Html.TextBox("extraCurricularTitle", extraCurricularTitle, new { @class="win-textbox" })
     @Html.ValidationMessage("extraCurricularTitle")

     
     </p>

    <p class="win-type-body">

 @Html.Label("comment", comment)<br />
@Html.TextBox("comment", comment, new { @class="win-textbox" } )
@Html.ValidationMessage("comment") 
     </p>

  
    </div>

      <div class="column">
      <p class="win-type-body">

 @Html.Label("Admission No:", admissionNo)<br />
@Html.TextBox("admissionNo", admissionNo, new { @class="win-textbox" })
@Html.ValidationMessage("admissionNo") 
   

          <p class="win-type-body">
    @Html.Label("teacherName", "teacherName")
    @Html.TextBox("teacherName", teacherName, new { @class="win-textbox" })
       </p>
        
        </div>

   <input type='submit'  class='win-button'  />
</form>

