

<!DOCTYPE html>

<html lang="en">
       <head>
        <meta charset="utf-8" />
       	<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>Bunks &amp; Biddles - @Page.Title</title>
          <link href="@Href("~/bunks/Css/Style.css")" rel="stylesheet" /> 
         <link href="@Href("~/bunks/Css/component.css")" rel="stylesheet" /> 
         <link href="/WinJS/css/ui-dark.css" rel="stylesheet" />
        <script src="@Href("/WinJS/js/base.js")" type="text/javascript"></script>
        <script src="@Href("/WinJS/js/ui.js")" type="text/javascript"></script>
         <script  src="@Href("/js/default.js")" type="text/javascript"></script>
            <link type="text/css" href="@Href("~/bunks/Styles/jquery-ui-1.8.4.custom.css")" rel="stylesheet" />
        <script type="text/javascript" src="@Href("~/bunks/Scripts/jquery-1.8.2.min.js")"></script>
        <script type="text/javascript" src="@Href("~/bunks/Scripts/jquery-ui-1.8.4.custom.min.js")"></script>

       
        <script type="text/javascript">    
          
          
        </script>
        <script type="text/javascript" src="../../bunks/js/Layout.js"></script>
        <link rel="stylesheet" type="text/css" href="../../bunks/css/icons.css" />
		
        <link rel="stylesheet" type="text/css" href="../../bunks/css/set1.css" />
        <link rel="stylesheet" type="text/css" href="../../bunks/css/set2.css" />
        <link rel="stylesheet" type="text/css" href="../../bunks/css/normalize.css" />

        <script src="../bunks/Scripts/modernizr-2.6.2.js"></script>
     
		

        		

        @RenderSection("head", required: false)
    </head>
    <body>

         <div id="app" >
        <div class="splitView" data-win-control="WinJS.UI.SplitView">
        <!-- Pane area -->
        <div>
            <div class="header">
                <button
                    class="win-splitviewpanetoggle"
                    data-win-control="WinJS.UI.SplitViewPaneToggle"
                    data-win-options="{ splitView: select('.splitView') }"></button>
                <div class="title"> 
                  
                      </div>
              
            </div>

            <div id="classes" class="win-type-subtitle"> 








               
                <div class="school">
             <div id="search">@RenderPage("~/bunks/Shared/Partials/_SearchKinder.cshtml")

                  </div>

                <div id="primarySection">
      @RenderPage("~/bunks/Shared/Partials/_ClassesKinder.cshtml")                
                </div>
            
                       <h1  class="win-type-body" style="color: #ef4135">&#xE125; Supervisor</h1>
                      <hr/>
                    <div class="column">
              
                       @MembershipHelpersKinder.AccountSummary()
               
                </div> 
                               
                  
                               
                    </div>   
            </div>
        </div>


          <div class="contenttext">

  <div class="container">  
         
       <div class="detailColumn bg-3"> <canvas id="canvas" width="150" height="150"></canvas></div>
        <div class="detailColumn bg-1">



               <a href="@Href("~/bunks/")"><img style="margin: 1px;" height="142px" src="../../bunks/images/bunkslogo.png" alt="bunkslogo"></a>
                 </div>


                 <section class="col-2 ">
				    @RenderBody()  
			</section>
 
               </div>


            
          

            </div>
          
                
        </div> 

     
             <div id="createNavBar" data-win-control="WinJS.UI.NavBar" data-win-options="{
    placement: 'bottom',
    oninvoked: Sample.navBarInvoked
}">
    <div data-win-control="WinJS.UI.NavBarContainer">
        <a href="../../bunks/KinderDefault.cshtml">  <div data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Home', icon: 'home' }"></div></a>
       <a href="../../bunks/Default.cshtml"> <div data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'UpperClasses', icon: '&#xE16D;' }">
       </div></a>
        
    </div>
</div>     
                                
            </div>
                        
            
       
			
			
			
			
    <script type="text/javascript">



    function getTimeRemaining(endtime) {
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor((t / 1000) % 60);
  var minutes = Math.floor((t / 1000 / 60) % 60);
  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
  var days = Math.floor(t / (1000 * 60 * 60 * 24));
  return {
    'total': t,
    'days': days,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function initializeClock(id, endtime) {
  var clock = document.getElementById(id);
  var daysSpan = clock.querySelector('.days');
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');

  function updateClock() {
    var t = getTimeRemaining(endtime);

    daysSpan.innerHTML = t.days;
    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}

var deadline = new Date(Date.parse(new Date()) + 3 * 24 * 60 * 60 * 1000);
initializeClock('clockdiv', deadline);
</script>

    
    </body>
</html>
