

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
       	<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>Bunks &amp; Biddles - @Page.Title</title>
          <link href="@Href("~/bunks/Css/Style.css")" rel="stylesheet" /> 
         <link href="@Href("~/bunks/Css/component.css")" rel="stylesheet" /> 
         <link href="/WinJS/css/ui-dark.css" rel="stylesheet" />
        <script src="@Href("/WinJS/js/base.js")" type="text/javascript"></script>
        <script src="@Href("/WinJS/js/ui.js")" type="text/javascript"></script>
         <script  src="@Href("bunks/js/default.js")" type="text/javascript"></script>
            <link type="text/css" href="@Href("~/bunks/Styles/jquery-ui-1.8.4.custom.css")" rel="stylesheet" />
        <script type="text/javascript" src="@Href("~/bunks/Scripts/jquery-1.8.2.min.js")"></script>
        <script type="text/javascript" src="@Href("~/bunks/Scripts/jquery-ui-1.8.4.custom.min.js")"></script>

       
        <script type="text/javascript">    
          
          
        </script>
        <script type="text/javascript" src="../bunks/js/clock.js"></script>
        <link rel="stylesheet" type="text/css" href="bunks/css/icons.css" />
		
        <link rel="stylesheet" type="text/css" href="bunks/css/set1.css" />
        <link rel="stylesheet" type="text/css" href="bunks/css/set2.css" />
        <link rel="stylesheet" type="text/css" href="bunks/css/normalize.css" />

        <script src="../bunks/Scripts/modernizr-2.6.2.js"></script>
     
		

        		

        @RenderSection("head", required: false)
    </head>
    <body>

         <div id="app" >
    
        <div class=" bg-1">



            <img style="" height="142px" src="../bunks/images/bunkslogo.png" alt="bunkslogo">
                 </div>

   <div class="container">  
         
      


                 <section class="col-2 ">
                     @RenderBody()  
              
				    
			</section>
       
        
               </div> 


            
          

            </div>
          
                
        </div> 

                    
            </div>
                        
            
       
			
			
			
			
    
<script type="text/javascript">


    var endTime = new Date(20, 3, 25, 0, 0, 0);
    function getTimeRemaining(endtime) {
        var t = Date.parse(endtime) - Date.parse(new Date());
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / 1000 / 60) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        return {
            'total': t,
            'days': days,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
        };
    }

    function initializeClock(id, endtime) {
        var clock = document.getElementById(id);
        var daysSpan = clock.querySelector('.days');
        var hoursSpan = clock.querySelector('.hours');
        var minutesSpan = clock.querySelector('.minutes');
        var secondsSpan = clock.querySelector('.seconds');

        function updateClock() {
            var t = getTimeRemaining(endtime);

            daysSpan.innerHTML = t.days;
            hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
            minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
            secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

            if (t.total <= 0) {
                clearInterval(timeinterval);
            }
        }

        updateClock();
        var timeinterval = setInterval(updateClock, 1000);
    }

    var deadline = new Date(Date.parse(new Date()) + 0 * 1 * 1 * 1 * 1000);






    initializeClock('clockdiv', deadline);
</script>
    
    </body>
</html>
