@{
    Layout = "~/bunks/Shared/layouts/_Page.cshtml";
    
}


	
			<!-- Codrops top bar -->
	
			
		<div id="headerColumn"></div>
             <div class="headerColumn">
                 <div class="detailColumn">
					<nav class="dr-menu">
						<div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span>
                            <a class="dr-label win-type-subtitle">Kindergarten Activities</a>
                        </div>
						<ul>
							<li><div id="practicalLife" style="" data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'History', icon: '&#xE909;' }" ></div></li>
							<li><div id="sensorial" data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Geography', icon: '&#xE826;' }" ></div></li>
							<li><div id="language" data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Biology', icon: '&#xE9CA;' }" ></div></li>
				            <li><div id="mathematics" data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Art & Craft', icon: '&#xE2B1;' }" ></div></li>
							<li><div id="cultural" data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: 'Music', icon: 'audio' }"></div></li>
                             
							
						</ul>
					</nav>
				</div>
                 <div class="detailColumn">



                     <h1 class="win-type-header">Reports</h1>
                     <div id="reportOutput">
                         <div id="reportOutput1">
				<a href="#">Click here</a>

</div>
                         <div id="reportOutput2">
                          <form method="post">
            @for(var i = 1; i <= 1; i++){
            <div>
                <p>area 1</p>
                <input  />

                <select  name="@("text" + i)" >
                    <option>Edgar</option>
                <option>Marakha</option>
                <option>Wanjala</option>
                </select>
              <p>  <input type="checkbox" name="@("check" + i)" value="talking in the classroom " />talking in the classroom </p>
                 <p>  <input type="checkbox" name="@("check" + i)" value="walk in the classroom" />walk in the classroom</p>
                 <p>  <input type="checkbox" name="@("check" + i)" value="carry chairs " />carry chairs; use of work space</p>
                  <p>  <input type="checkbox" name="@("check" + i)" value="use of work space " />use of work space</p>
                  <p> <input type="checkbox" name="@("check" + i)" value="carrying apparatus" />carrying apparatus</p>
                 <p>  <input type="checkbox" name="@("check" + i)" value="work cycle; opening and closing doors, drawers" />work cycle; opening and closing doors, drawers</p>
         
            </div>
            }
            <input type="submit" />
        </form>
      
                         </div>
                    </div>
                     <div id="sensorialOutput">
                     <div id="sensorialOutput1">my output can change to</div>
                       <div id="sensorialOutput2">my output 2</div>
                     </div>
                       <div id="languageOutput">
                     <div id="languageOutput1">my output can change to</div>
                       <div id="languageOutput2">my output 2</div>
                     </div>
                        <div id="mathematicsOutput">
                     <div id="mathematicsOutput1">my output can change to</div>
                       <div id="mathematicsOutput2">my output 2</div>
                     </div>
                      <div id="culturalOutput">
                     <div id="culturalOutput1">my output can change to</div>
                       <div id="culturalOutput2">my output 2</div>
                     </div>
                      
                     </div>
				
			</div>
<div class="headerColumn">
    
     @if(IsPost){
            foreach(string item in Request.Form){
                if(item.Contains("text")){
                    @:Request["@item"] = @Request[item]<br />
                }
                if(item.Contains("check")){
                    @:Request["@item"] = @Request[item]<br />

 <p>@Request[item]</p>                


                }
            }
        }
			</div>
 	
			
		
		<script src="myJS/ytmenu.js"></script>
<script src="myJS/montessoriPrac.js"></script>
	