@{

   if (!WebSecurity.IsAuthenticated)
    {
        string currentUrl = Request.Url.ToString();
        Response.Redirect("~/bunks/Account/Login?sender=" + currentUrl);
    }



   Layout = "~/bunks/Shared/Layouts/_Pdf.cshtml"; 




    var pupilID = !UrlData[0].IsEmpty() ? UrlData[0] : "0";

    var db = Database.Open("BunksAndBiddlesSchool");

    var sqlSelectKindergartenReport = "SELECT * FROM KindergartenReport WHERE pupilID = @0  ";
   

    var sqlSelectExtraCurricularResults = "SELECT * FROM KinderExtraCurricularReport WHERE pupilID = @0 ";

  
     var sqlSelectComments = "SELECT * FROM KinderGeneralComments WHERE pupilID = @0 ";


    




    var sqlSelect = "SELECT * FROM Pupils WHERE pupilID = @0";




  



    var pupil = db.QuerySingle(sqlSelect, pupilID);

   




}

 <script type="text/javascript">
    $(function() {


    var dayAbsent = [];
     
     
    







 @foreach ( var generalCommentID in db.Query(sqlSelectComments, pupilID) )
      {

       @:dayAbsent.push(@generalCommentID.daysAbsent);
       
     
      }

 

     var sumDays = 56;
     var daysAttended = sumDays - parseInt( dayAbsent[0]);
       $('#daysAttended').html('Days Present: <b>' +daysAttended+ '</b>');

   


    })();



    </script>
  
             

        
                <div class="ui form" style="width:100%;height:100%;padding:10px;border:1px solid #da2128;">
              


@if (pupil == null)
 {     
    <p>
        Unable to fetch Student details.         
        Try browsing one of the Learning Centers listed to the left.   
          
    </p> 

         } 
else {
    
		
     Page.Title = pupil.otherNames;

    <text>

                    
                   <img  height="165px" src="~/bunks/images/Bunksandbiddleslogocolour.png" alt="bunkslogo">

                    <img style="float:right;" height="200px" src="~/bunks/img/seal.jpg" alt="bunkslogo">
                <div style="color: #000;">
                     <h1  class="win-type-subtitle">PROGRESS REPORT </h1>
                     <h1  class="win-type-subtitle">BBS/KINDER/R010 </h1>
                  <br/>
              <h2 class="win-type-subtitle" >NEXT TERM BEGINS : 8th January, 2018</h2>
                     <br/>
             <h2 class="win-type-subtitle " >Term: One 2017/2018</h2>
                     <br/>
             <h2 class="win-type-subtitle">Class: Ndovu</h2>
                     <br/>
            <h2 class="win-type-subtitle"></h2>
                     <br/>
                    </div>
              <p class="win-type-title" style="color:#ef4135;">
              <b>@pupil.firstName @pupil.otherNames</b>
             </p>

                 
                            <section class="grading-section ">

                                <div class="grading grading--subject">

  @foreach (var reportID in db.Query(sqlSelectKindergartenReport, pupilID))
                                        {


                        
                                     <div class="grading__item">
                                        <h3 class="grading__title ">@reportID.activity </h3>
                                            <div class="grading__price">
                                               
                                                <div class="headerColumn">
                                                     <p class="grading__currency"><u>Activities achieved by @pupil.firstName</u></p>
                      <p style="font-size: small; text-align: start;" class="grading__title "> @reportID.goals </p>
                                                </div>
                                            </div>


                                            <small class="win-type-body grading__sentence">@reportID.subjectComment </small>
                                           <small>@reportID.teacherName 's Comment</small>
                                         </div>
                                  
                                        }

  

                                     </div>
                            

                                 <ul  class="kinderList">
  @foreach (var extraCurricularReportID in db.Query(sqlSelectExtraCurricularResults, pupilID))
                                        {


                           <li >
                                   <div class="grading grading--subject">
                                     <div class="grading__item">
                                        <h3 class="grading__title ">@extraCurricularReportID.extraCurricularTitle </h3>
                                            <div class="grading__price">
                                               
                                             
                                            </div>


                                            <p class="win-type-body grading__sentence">@extraCurricularReportID.Comment </p>
                                           <small>@extraCurricularReportID.teacherName 's Comment</small>
                                         </div>
                                       </div>
                                   </li>
                                        }

     </ul>
                            
                            
                            </section>

                          

                      @foreach (var generalCommentID in db.Query(sqlSelectComments, pupilID))
                                        {


                           <section class="grading-section " style="color: #000;">
                                   <div class="grading grading--subject">
                                     <div >
                                        <h3 class="grading__title ">@generalCommentID.CommentTitle </h3>
                               
                                            <p class="win-type-body grading__sentence">@generalCommentID.comment </p>
                                          
                                          <div class="grading__price">
                                          <p>Days Absent: <b> @generalCommentID.daysAbsent</b></p>   
                                            </div>
                                          <div class="grading__price">
                                          <p id="daysAttended"></p>
                                            </div>
                                         </div>
                                       </div>
                                </section>
                                  
                                        }


</text>
}




             </div>

   
    





