@{
    Layout = "~/bunks/Shared/Layouts/_AdminLayout.cshtml";
    Page.Title = "Classes";

    var classTitle = "";
    var kindergartenTitle = "";

    var db = Database.Open("BunksAndBiddlesSchool");

    if(IsPost && !Request["classTitle"].IsEmpty()) 
    {
        classTitle = Request["classTitle"];
      

        if(!Admin.ClassExists(classTitle)) 
        {
            var sqlInsert = "INSERT INTO Classes (ClassTitle ) VALUES (@0)";
            db.Execute(sqlInsert, classTitle);
        }
        else 
        {
           ModelState.AddError("classTitle", "Class already exists");  
          
        }
       
    }

    else if ( IsPost && !Request["kindergartenTitle"].IsEmpty()) {
          kindergartenTitle = Request["kindergartenTitle"];

           if(!KinderAdmin.KindergartenExists(kindergartenTitle))
        {
          var sqlKinderInsert = "INSERT INTO Kindergarten (KindergartenTitle) VALUES (@0)";

          db.Execute(sqlKinderInsert,  kindergartenTitle);
            
        }
        else
        {
             ModelState.AddError("kindergartenTitle", "Kindergrten class already exists"); 
            
        }
    }

     var sqlCommand = "SELECT * FROM Classes"; 
     var sqlCommandKinder = "SELECT * FROM Kindergarten";      
     var classes = db.Query(sqlCommand);
     var kindergarten = db.Query(sqlCommandKinder);

    
}

<div class="headerColumn"> 
    <a href="@Href("~/bunks")"><img style="margin: 10px;" height="165px" src="~/bunks/images/Bunksandbiddleslogocolour.png" alt="bunkslogo"></a>
</div>

    <p class="win-type-title" >Organize Classes in School</p>
<div class="detailColumn">
<h1 class="win-type-subtitle" style="color: #808080">Accelerated Christian Education </h1>

    
   
    <p class="win-type-body" style="color: #808080">Add in list</p>
    <form action="" method="post">     
        <p>         
             
             <span class="input input--nariko">
					<input name="classTitle" value="Class" class="input__field input__field--nariko" type="text" id="input-7" />
					<label class="input__label input__label--nariko" for="input-7">
			<span class="input__label-content input__label-content--nariko" data-content="Class">class</span>
					</label>
					<svg class="graphic graphic--nariko" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						<path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z"/>
                           
					</svg>
                       @Html.ValidationMessage("email") 
				</span>       
            <input class="win-button" type="submit" value="Add" />               @Html.ValidationMessage("classTitle")     
        </p> 
    </form>
    
    <table class="webgrid">     
        <tr>         
            <th colspan="3" class="win-type-body">Upper Classes</th>     
        </tr>     
@foreach (var upperClass in classes)     
                    {         
                        <tr>             
                            <td class="win-type-title">                 
                                        @upperClass.classTitle             
                            </td>             
                            <td>                 
                       <a href="EditUpperClasses/@upperClass.classId"><button class="win-button">Edit</button></a>
                                <a href="DeleteUpperClasses/@upperClass.classId"><button style="background: black;" class="win-button">Delete</button></a>             
                            </td>             
                                    </tr>      
                                               } 
    </table> 


  </div>  
<div class="detailColumn">
<h1 class="win-type-subtitle" style="color: #808080">Kindergarten </h1>
    
    <p class="win-type-body" style="color: #808080">Add in list</p>
    <form action="" method="post">     
        <p>         
             
             <span class="input input--nariko">
					<input name="kindergartenTitle" value="Kindergarten" class="input__field input__field--nariko" type="text" id="input-7" />
					<label class="input__label input__label--nariko" for="input-7">
			<span class="input__label-content input__label-content--nariko" data-content="Kindergarten">Kindergarten</span>
					</label>
					<svg class="graphic graphic--nariko" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
						<path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z"/>
                           
					</svg>
                       @Html.ValidationMessage("email") 
				</span>       
            <input class="win-button" type="submit" value="Add" />               @Html.ValidationMessage("kindergartenTitle")     
        </p> 
    </form>
     <table class="webgrid">     
        <tr>         
            <th colspan="3" class="win-type-body">Montessorri</th>     
        </tr>     
@foreach (var kinderClass in kindergarten)     
                    {         
                        <tr>             
                            <td class="win-type-title">                 
                                        @kinderClass.kindergartenTitle             
                            </td>             
                            <td>                 
                       <a href="bunks/EditKinderClasses/@kinderClass.kindergartenID"><button class="win-button">Edit</button></a>
                                <a href="bunks/DeleteKinderClasses/@kinderClass.kindergartenID"><button class="win-button" style="background: black;">Delete</button></a>             
                            </td>             
                                    </tr>      
                              } 
     </table> 

    
   
    </div>
<div class="headerColumn"></div>

